.card{
  background-color: #dfdbdb;
  display: inline-block;
  border: 1px solid rgb(175, 173, 173);
  border-radius: 10px;
  box-shadow: 5px,5px,5px rgb(206, 204, 204);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
}
.card img{
  border-radius: 50%;
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.card h2{
  font-family: arial,sans-serif;
  margin: 0;
  color: rgb(2, 2, 44);
}

.card p{
  margin: 0;
  font-family: arial;
  color: orangered;
  font-weight: bold;
}
.student{
  border: 1px solid gray;
}